*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  width: auto;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgb(250,243,224);
  background: linear-gradient(90deg, hsla(44, 72%, 93%, 0.568) 22%, hsla(20, 31%, 58%, 0.486) 61%), url(../images/fondo-fondo-pantalla-marmol-textura-dorada-blanca_28629-691.jpg);
  margin-bottom: 50px;
}
/* INICIO HEADER MAURO */
header{
  width: 100%;
  /* background-image: url(../images/hero.png); */
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.navbar{
  background-color: #e6c8b2d2;  
}
main{
    width: 100%;
}
.width-logo {
  width: 80px;
}
.display-f {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}
.hero-t {
  width: 1264px;
}
.image-logo {
  max-width: 100%;
  width: 100px;
}
.position-logo {
  display: flex;
  justify-content: center;
}
.position-bottom{
  position: relative;
  bottom:280px;
}
.position-slogan {
  height: 100px;
  padding-top: 30px;
  justify-content: left;
  position: relative;
  bottom:200px;
  color: rgb(230, 213, 176);
  background-color: rgb(230, 213, 176);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 35%, rgba(0, 0, 0, 0.678) 100%);    
}
@media (max-width: 640px) {
  .video{
    margin-top: 89px;
    width: 100%;
  }
  .position-slogan{
  position: relative;
  bottom:7px;
  }
}
/* FIN HEADER MAURO */
/* INICIO SECCION DE BIANCA */
@media (max-width: 1200px){
  .Experiencias{
  flex-direction:  column-reverse;
  }
}
.Experiencias{
  margin-top: 70px;
}
.Cajas{
  justify-content: space-evenly;
}
.imagesNos{
  height: max-content;
  background-color: #1e212d;
}
.imgN1{
  box-shadow: -20px -30px 0 0 #EABF9F;
}
.imgN2{
  box-shadow: 20px 30px #EABF9F;
}
.text{ 
  font-size: 20px;
  width: 500px;
  height: auto;
  padding-left: 0;
  margin-top: 50px;
  text-align: justify;
}
.tituloPre{
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: auto;
  padding-right: 10px;
  background-color: #b68973;
}
.contenidoText{
  padding: 10px 25px;
  width: auto;
  margin-bottom: 0px;
}
.imagesExp{
  background-color: #eabf9f;
}
.imgE2{
  box-shadow: -20px -30px 0 0 #1e212d;
}
.imgE1{
  box-shadow: 40px 30px #b68973;
  margin-top: 150px;
}
.btn{
  background-color: #1e212d;
  color: #faf3e0;
}
.masInfo{
  padding-top: 10%;
}
.primerT{
  text-align: start;
  font-size: medium;
  font-weight: 700;
  color: #b68973;
  margin: 0;
}
.segT{
  text-align: left;
  color: #1e212d;
  font-weight: 600;
}
.textInfo{
  text-align: left;
  margin-bottom: 10px;
}
.caracteristicas{
  padding: 0%;
  height: 10%;
  width: 100%;
  background-color: #1e212d;
  justify-content: space-around;
}
.boxCar{
  text-align: center;
  color: #faf3e0;
  font-size: 20px;
}
.logos{
  background-color: #1e212d;
}
.Gif{
  display: flex;
  justify-content: center;
}
/* FIN SECCION DE BIANCA */
/* INICIO SECCION DE MARIANO */
.card-title{
  font-size: 25px;
}
.borde-carousel{
  border-top: 13px solid;
  border-bottom: 13px solid;
  color: rgb(234, 191, 159);
}
.justify{
  text-align: justify;
}
/* FIN SECCION DE MARIANO */
/* INICIO SECCION DE JACQUELINE */
.titulo{
  height: 100px;
}
.titulo-h2{
  padding-top: 20px;
  text-align: center;
  color: #eabf9f;
  font-weight: bolder;
  font-size: 50px;
}
.container-grande{
  margin: 60px;
  padding: 60px;
  background-color: #1e212d;
}
.container-sm{
  margin-top: 30px;
  margin-bottom: 60px;
  opacity:1;
}
.text-margin{
  text-align: center;
}
p.subtitulo{
  text-align: center;
  color: #faf3e0;
  padding: 10px;
  font-size: 20px;
}
.maps{
  padding-top: 50px;
}
.botonformu{
  background-color: rgb(255, 255, 255);
}
.imagenformu{
  display:block;
  margin:auto;
}
@media (max-width: 640px) {
  .titulo{
    margin-top: 20px;
  }
  iframe{
    height: 150px;
    width: 350px;
  }
  .maps{
    padding-top: 0;
  }
  .logoo{
    padding-top:0 !important;
    width:6rem !important;
  }
  .container-grande {
    margin-left: 5px;
    padding:5px;
    margin:0;
  } 
  .arrow{
    background-color: rgb(250,243,224);
  }
  #form{
    margin:10px
  }
  .imagenformu{
    height: 100px;
  }
  p.subtitulo{
    text-align: left;
  }
  .logoo{
    width:3rem;
  }
  footer{
    height: 5%;
  }
  .row-formu{
    padding-bottom: 50px;
  }
  #wsp{
    display:none;
  }
  h5, h6, footer{
    font-size: 15px;
  }
  .footer{
    padding: 15px;  
  }
  .titulo-h2{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 35px;
  }
  .sub{
    padding-top: 30px;
  }
  p.subtitulo{
    padding-left: 15px;
    text-align: center;
    font-size: 16px;
  }
  #atras{
    margin:100px;
    padding:20px;
  }
  .services{
    display:none;
  }
}
#form{
  background-color: #b68973;
  padding: 20px;
  color:rgb(255, 255, 255)
}
::placeholder{
  color: rgb(0, 0, 0)
}
.form-label{
  color:rgb(255, 255, 255)
}
.button-enviar{
  text-align: center;
}
.btn-dark{
  margin-top: 15px;
}
#wsp {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index:999;
}
.formulario-fondo{
  padding-top: 90px;
  background: rgb(250,243,224);
  background: linear-gradient(90deg, hsla(44, 72%, 93%, 0.568) 22%, hsla(20, 31%, 58%, 0.486) 61%), url(../images/fondo-fondo-pantalla-marmol-textura-dorada-blanca_28629-691.jpg)
}
footer{
  height: 100%;
  color: white;
}
#atras{
  padding: 10px;
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.footer-title{
  color:rgb(214, 157, 70)
}
.logoo{
  width: 150px;
  padding-top:50px;
}
.copy{
  text-align: center;
  text-decoration: none;
}
.linea{
  color: rgb(90, 81, 63);
}
.redesociales{
  padding-top: 80px;
 }
@media (min-width: 760px) and (max-width: 2000px) { 
  #mapa{
    width:400px;
    height: 200px;
  }
}
@media (min-width: 645px) and (max-width: 800px) {
 #mapa{
   width:400px;
   height: 200px;
  }
}
/* INICIO MAURICIO */
.menu{
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: hsla(33, 37%, 62%, 0.698);
}
.opensans{
  font-family: 'Open Sans Condensed', sans-serif;
}
 .title-carta{
  background-color: rgba(10, 10, 10, 0.719);
  padding-bottom: 30px;
  color:#faf3e0;
}
.bg-carta{
  padding-top: 70px;
}
.bg-boton{
  width: 2px;
  background-color:#55534e;
  color:rgb(238, 212, 184);
}
.cont{
  background-color: rgba(139, 94, 42, 0.377);
}
/* FIN MAURICIO */