*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  width: auto;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgb(250,243,224);
  background: linear-gradient(90deg, hsla(44, 72%, 93%, 0.568) 22%, hsla(20, 31%, 58%, 0.486) 61%), url(../images/fondo-fondo-pantalla-marmol-textura-dorada-blanca_28629-691.jpg);
  margin-bottom: 50px;
}
header{
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  background-image: url(../images/hero.png);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.navbar{
  background-color: rgb(148,125,75);
  background: linear-gradient(90deg, rgba(148,125,75,0.2978233529740021) 35%, rgba(173,136,134,0.45748721852022056) 100%);
  padding: 0%;
}

main{
    width: 100%;
}
.width-logo {
  width: 80px;
}
.display-f {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}
.hero-t {
  width: 1264px;
}
.image-logo {
  max-width: 100%;
  width: 100px;
}
.position-logo {
    display: flex;
    justify-content: center;
  }
  .position-bottom{
      position: relative;
      bottom:280px;
  }
.position-slogan {
    justify-content: center;
    position: relative;
    bottom: 250px;
    color: black;
    background-color: rgb(148,125,75);
    background: linear-gradient(90deg, rgba(148,125,75,0.2978233529740021) 35%, rgba(173,136,134,0.45748721852022056) 100%);
}
/* INICIO SECCION DE BIANCA */
@media (max-width: 1200px){
  .Experiencias{
    flex-direction:  column-reverse;
  }
}
.Experiencias{
  margin-top: 70px;
}
.Cajas{
  justify-content: space-evenly;
}
.imagesNos{
  height: max-content;
background-color: #1e212d;
}
.imgN1{
box-shadow: -20px -30px 0 0 #EABF9F;
}
.imgN2{
box-shadow: 20px 30px #EABF9F;
}
.text{ 
  font-size: 20px;
  width: 500px;
  height: auto;
  padding-left: 0;
  margin-top: 50px;
  text-align: justify;
}
.tituloPre{
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: auto;
  padding-right: 10px;
  background-color: #b68973;
}
.contenidoText{
  padding: 10px 25px;
  width: auto;
  margin-bottom: 0px;
}
.imagesExp{
background-color: #eabf9f;
}
.imgE2{
  box-shadow: -20px -30px 0 0 #1e212d;
}
.imgE1{
  box-shadow: 40px 30px #b68973;
  margin-top: 150px;
}

 
 /* ----------------------------------------------------------------------------------- */
/* INICIO SECCION DE MARIANO */
.card-title{
  font-size: 25px;
}
.borde-carousel{
  border-top: 13px solid;
  border-bottom: 13px solid;
  color: rgb(234, 191, 159);
}
.justify{
  text-align: justify;
}

/* FIN SECCION DE MARIANO */
/* ----------------------------------------------------------------------------------- */
/* INICIO SECCION DE JACQUELINE */
.titulo{
  height: 100px;
}
.titulo-h2{
  text-align: center;
  color: #eabf9f;
  font-weight: bolder;;
  font-size: 50px;
}
.container-grande {
  margin:60px;
  padding: 60px;
  background-color: #1e212d;
}
.container-sm{
  margin-top: 30px;
  margin-bottom: 60px;
  opacity:1;
}
.text-margin{
  text-align: center;
}
p.subtitulo{
  text-align: center;
  color: #faf3e0;
  padding: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.botonformu{
  background-color: rgb(255, 255, 255);
}
.imagenformu{
  display:block;
  margin:auto;
}

@media (max-width: 640px) {
  .container-grande {
    margin-left: 5px;}
    .arrow{background-color: rgb(250,243,224);}
  #form{
 margin:10px
}
.imagenformu{
  height: 100px;
}
  p.subtitulo{
    text-align: left;
}
.logoo{
  width:3rem;
}
footer{
  height: 5%;
}
.container-grande{
  padding:5px;
  margin:0;
}
.row-formu{
  padding-bottom: 50px;
}
#wsp{
  display:none;
}
h5, h6, footer{
  font-size: 15px;
}}
#form{
  background-color: #b68973;
  padding: 20px;
  color:rgb(255, 255, 255)
}
::placeholder{
  color: rgb(0, 0, 0)
}
.form-label{
  color:rgb(255, 255, 255)
}
.button-enviar{
  text-align: center;
}
.btn-dark{
  margin-top: 15px;
}
#wsp {
  position: fixed;
  bottom: 50px;
 right: 0;
 z-index:999;
}
.formulario-fondo{
  background: rgb(250,243,224);
  background: linear-gradient(90deg, hsla(44, 72%, 93%, 0.568) 22%, hsla(20, 31%, 58%, 0.486) 61%), url(../images/fondo-fondo-pantalla-marmol-textura-dorada-blanca_28629-691.jpg)
}
footer{
 height: 100%;
  color: white;
 
}

@media (max-width:640px){
  .footer{
    padding: 15px;
    
}
.titulo-h2{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 35px;

}
.sub{
  padding-top: 30px;
}
  p.subtitulo{
    padding-left: 15px;
    text-align: center;
    font-size: 16px;
}
#atras{
  margin:100px;
  padding:20px;
}
.services{
  display:none;
}
}
#atras{
  padding: 10px;
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.footer-title{
  color:rgb(214, 157, 70)
}
.logoo{
  width: 150px;
  padding-top:50px;
}
.copy{
  text-align: center;
  text-decoration: none;
}
.linea{
  color: rgb(90, 81, 63);
}

.redesociales{
  padding-top: 80px;
 }

 @media (min-width: 760px) and (max-width: 2000px) {
  .bg-dark {
    padding: 200px;
    
}
 }

 .titulo-m{
   margin-top: 150px;
   background-color: black;
   color:white;
   background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,47,26,0.4430147058823529) 100%, rgba(0,212,255,1) 100%);

 }
 .fondo-menu{
   background-color: hsla(22, 35%, 58%, 0.555);
   color: rgb(0, 0, 0);
 }